<!DOCTYPE html>
<html>
<head>
  <title>Angular Note - [demo]</title>
  <meta charset="utf-8" />
  <script src="angular.1.3.9.min.js"></script>
  <style>
  body{padding: 30px;font: 14px/1.5 Microsoft YaHei;}
  textarea,button{font: 14px/1.5 Microsoft YaHei;border-radius: .25em;}
  </style>
</head>
<body ng-app="noteApp" ng-controller="noteCtrl">

<h3>我的笔记</h3>

<textarea ng-model="message" cols="60" rows="10" ng-focus="focus()" ng-blur="blur()"></textarea>

<p>
	<button ng-click="save()">保存</button>
	<button ng-click="clear()">清除</button>
</p>

<p>剩余字数: <span ng-bind="result()"></span></p>

<script src="note.js"></script>

</body>
</html>